body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:740px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:105px;
  width:418px;
  height:740px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 102, 102, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:105px;
  width:417px;
  height:66px;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:114px;
  width:29px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:126px;
  width:1px;
  height:35px;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:130px;
  width:145px;
  height:26px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:785px;
  width:416px;
  height:60px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:791px;
  width:32px;
  height:30px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:790px;
  width:40px;
  height:32px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:790px;
  width:29px;
  height:32px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A1A1A1;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:822px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#A1A1A1;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:823px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#AEAEAE;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF8585;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:823px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF8585;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:493px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:292px;
  width:416px;
  height:493px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:238px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:182px;
  width:188px;
  height:18px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:2px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:248px;
  width:290px;
  height:1px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:256px;
  width:99px;
  height:16px;
  color:#666666;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:10px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:282px;
  width:416px;
  height:10px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:91px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:181px;
  width:91px;
  height:91px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:180px;
  width:92px;
  height:92px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AEAEAE;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:256px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#AEAEAE;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:57px;
  word-wrap:break-word;
}
#u1031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#AEAEAE;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:218px;
  width:211px;
  height:19px;
  font-size:16px;
  color:#AEAEAE;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
