body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2365px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1407px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5189 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:194px;
  width:720px;
  height:1407px;
}
#u5190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:696px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:144px;
  background:inherit;
  background-color:rgba(55, 59, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5191 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:194px;
  width:720px;
  height:144px;
}
#u5192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:46px;
  background:inherit;
  background-color:rgba(45, 49, 52, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5193 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:194px;
  width:720px;
  height:46px;
}
#u5194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#FFFFFF;
}
#u5195 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:205px;
  width:55px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u5196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u5197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u5197 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:265px;
  width:53px;
  height:50px;
}
#u5198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5199 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:267px;
  width:145px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:183px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5201 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:338px;
  width:720px;
  height:183px;
}
#u5202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:84px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
}
#u5203 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:369px;
  width:85px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u5204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:39px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5205 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:374px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u5207 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:464px;
  width:197px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u5208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u5209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u5209 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:422px;
  width:331px;
  height:26px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#999999;
}
#u5210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u5211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5211 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:602px;
  width:718px;
  height:19px;
}
#u5212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5213 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:544px;
  width:211px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u5215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:33px;
}
#u5215 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:549px;
  width:19px;
  height:33px;
}
#u5216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u5217 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:549px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u5218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5219 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:1130px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:170px;
}
#u5221 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1211px;
  width:211px;
  height:170px;
}
#u5222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:170px;
}
#u5223 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1211px;
  width:211px;
  height:170px;
}
#u5224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:170px;
}
#u5225 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:1211px;
  width:211px;
  height:170px;
}
#u5226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:170px;
}
#u5227 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:1403px;
  width:211px;
  height:170px;
}
#u5228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:170px;
}
#u5229 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:1403px;
  width:211px;
  height:170px;
}
#u5230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:170px;
}
#u5231 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1403px;
  width:211px;
  height:170px;
}
#u5232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5233 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:649px;
  width:129px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:2px;
}
#u5235 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:704px;
  width:697px;
  height:1px;
}
#u5236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5237 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:737px;
  width:365px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u5239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5239 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:790px;
  width:673px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  white-space:nowrap;
}
#u5241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5241 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:899px;
  width:537px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  white-space:nowrap;
}
#u5243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5243 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:958px;
  width:317px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  white-space:nowrap;
}
#u5245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:2px;
}
#u5245 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:1189px;
  width:697px;
  height:1px;
}
#u5246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:693px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5247 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:838px;
  width:169px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u5249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5249 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:1085px;
  width:718px;
  height:19px;
}
#u5250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5251 {
  border-width:0px;
  position:absolute;
  left:1645px;
  top:194px;
  width:720px;
  height:1280px;
}
#u5252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:144px;
  background:inherit;
  background-color:rgba(55, 59, 62, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5253 {
  border-width:0px;
  position:absolute;
  left:1645px;
  top:194px;
  width:720px;
  height:144px;
}
#u5254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:46px;
  background:inherit;
  background-color:rgba(45, 49, 52, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5255 {
  border-width:0px;
  position:absolute;
  left:1645px;
  top:194px;
  width:720px;
  height:46px;
}
#u5256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#FFFFFF;
}
#u5257 {
  border-width:0px;
  position:absolute;
  left:1660px;
  top:205px;
  width:55px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u5258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u5259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
}
#u5259 {
  border-width:0px;
  position:absolute;
  left:1675px;
  top:265px;
  width:53px;
  height:50px;
}
#u5260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5261 {
  border-width:0px;
  position:absolute;
  left:1760px;
  top:267px;
  width:145px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u5262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u5263 {
  border-width:0px;
  position:absolute;
  left:2281px;
  top:263px;
  width:46px;
  height:50px;
}
#u5264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5265 {
  border-width:0px;
  position:absolute;
  left:1645px;
  top:338px;
  width:720px;
  height:107px;
}
#u5266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:71px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.427450980392157);
  border:none;
  border-radius:294px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5267 {
  border-width:0px;
  position:absolute;
  left:1764px;
  top:354px;
  width:583px;
  height:71px;
}
#u5268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:579px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u5269 {
  border-width:0px;
  position:absolute;
  left:1781px;
  top:369px;
  width:43px;
  height:43px;
}
#u5270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.898039215686275);
}
#u5271 {
  border-width:0px;
  position:absolute;
  left:1935px;
  top:373px;
  width:225px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.898039215686275);
}
#u5272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u5273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5273 {
  border-width:0px;
  position:absolute;
  left:1646px;
  top:512px;
  width:718px;
  height:19px;
}
#u5274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(51, 51, 51, 0.898039215686275);
}
#u5275 {
  border-width:0px;
  position:absolute;
  left:1660px;
  top:373px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(51, 51, 51, 0.898039215686275);
}
#u5276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:11px;
}
#u5277 {
  border-width:0px;
  position:absolute;
  left:1726px;
  top:387px;
  width:18px;
  height:11px;
}
#u5278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:28px;
}
#u5279 {
  border-width:0px;
  position:absolute;
  left:1697px;
  top:469px;
  width:74px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u5281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u5281 {
  border-width:0px;
  position:absolute;
  left:1697px;
  top:552px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u5283 {
  border-width:0px;
  position:absolute;
  left:1697px;
  top:730px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u5285 {
  border-width:0px;
  position:absolute;
  left:1709px;
  top:640px;
  width:73px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u5287 {
  border-width:0px;
  position:absolute;
  left:1697px;
  top:909px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u5289 {
  border-width:0px;
  position:absolute;
  left:1709px;
  top:820px;
  width:73px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u5291 {
  border-width:0px;
  position:absolute;
  left:1697px;
  top:998px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u5293 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:45px;
  width:289px;
  height:83px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u5294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u5295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u5295 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:58px;
  width:289px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u5296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u5297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u5297 {
  border-width:0px;
  position:absolute;
  left:1645px;
  top:71px;
  width:289px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u5298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u5299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5299 {
  border-width:0px;
  position:absolute;
  left:1646px;
  top:601px;
  width:718px;
  height:19px;
}
#u5300 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5301 {
  border-width:0px;
  position:absolute;
  left:1646px;
  top:689px;
  width:718px;
  height:19px;
}
#u5302 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5303 {
  border-width:0px;
  position:absolute;
  left:1646px;
  top:778px;
  width:718px;
  height:19px;
}
#u5304 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:39px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5305 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:469px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5306 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5307 {
  border-width:0px;
  position:absolute;
  left:1646px;
  top:869px;
  width:718px;
  height:19px;
}
#u5308 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5309 {
  border-width:0px;
  position:absolute;
  left:1646px;
  top:958px;
  width:718px;
  height:19px;
}
#u5310 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:19px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5311 {
  border-width:0px;
  position:absolute;
  left:1647px;
  top:1049px;
  width:718px;
  height:19px;
}
#u5312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5313 {
  border-width:0px;
  position:absolute;
  left:2278px;
  top:465px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u5316 {
  border-width:0px;
  position:absolute;
  left:2247px;
  top:469px;
  width:21px;
  height:29px;
  color:#FFFFFF;
}
#u5317 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5318 {
  border-width:0px;
  position:absolute;
  left:2253px;
  top:475px;
  width:9px;
  height:9px;
}
#u5319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5320 {
  border-width:0px;
  position:absolute;
  left:2278px;
  top:547px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u5323 {
  border-width:0px;
  position:absolute;
  left:2247px;
  top:551px;
  width:21px;
  height:29px;
  color:#FFFFFF;
}
#u5324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5325 {
  border-width:0px;
  position:absolute;
  left:2253px;
  top:557px;
  width:9px;
  height:9px;
}
#u5326 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5327 {
  border-width:0px;
  position:absolute;
  left:2278px;
  top:640px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5328 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u5330 {
  border-width:0px;
  position:absolute;
  left:2247px;
  top:644px;
  width:21px;
  height:29px;
  color:#FFFFFF;
}
#u5331 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5332 {
  border-width:0px;
  position:absolute;
  left:2253px;
  top:650px;
  width:9px;
  height:9px;
}
#u5333 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5334 {
  border-width:0px;
  position:absolute;
  left:2278px;
  top:728px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u5337 {
  border-width:0px;
  position:absolute;
  left:2247px;
  top:732px;
  width:21px;
  height:29px;
  color:#FFFFFF;
}
#u5338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5339 {
  border-width:0px;
  position:absolute;
  left:2253px;
  top:738px;
  width:9px;
  height:9px;
}
#u5340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5341 {
  border-width:0px;
  position:absolute;
  left:2278px;
  top:818px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u5344 {
  border-width:0px;
  position:absolute;
  left:2247px;
  top:822px;
  width:21px;
  height:29px;
  color:#FFFFFF;
}
#u5345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5346 {
  border-width:0px;
  position:absolute;
  left:2253px;
  top:828px;
  width:9px;
  height:9px;
}
#u5347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5348 {
  border-width:0px;
  position:absolute;
  left:2284px;
  top:908px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u5351 {
  border-width:0px;
  position:absolute;
  left:2253px;
  top:912px;
  width:21px;
  height:29px;
  color:#FFFFFF;
}
#u5352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5353 {
  border-width:0px;
  position:absolute;
  left:2259px;
  top:918px;
  width:9px;
  height:9px;
}
#u5354 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5355 {
  border-width:0px;
  position:absolute;
  left:2278px;
  top:1002px;
  width:57px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u5358 {
  border-width:0px;
  position:absolute;
  left:2247px;
  top:1006px;
  width:21px;
  height:29px;
  color:#FFFFFF;
}
#u5359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5360 {
  border-width:0px;
  position:absolute;
  left:2253px;
  top:1012px;
  width:9px;
  height:9px;
}
#u5361 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5362 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:1211px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5364 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1211px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5366 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:1211px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:39px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5368 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:552px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:39px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5370 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:644px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:39px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5372 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:727px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:39px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5374 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:824px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:39px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5376 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:916px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:39px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5378 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:999px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5380 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:1403px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5382 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:1403px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF9966;
}
#u5384 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:1403px;
  width:77px;
  height:24px;
  font-size:16px;
  color:#FF9966;
}
#u5385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u5386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5386 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:1009px;
  width:197px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#999999;
}
#u5387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
