body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:740px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:105px;
  width:418px;
  height:740px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 102, 102, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:105px;
  width:417px;
  height:66px;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:114px;
  width:29px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:126px;
  width:1px;
  height:35px;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:130px;
  width:49px;
  height:26px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:220px;
  width:416px;
  height:15px;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:785px;
  width:416px;
  height:60px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:791px;
  width:32px;
  height:30px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:790px;
  width:40px;
  height:32px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:790px;
  width:29px;
  height:32px;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF8585;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:822px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF8585;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A1A1A1;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:823px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#A1A1A1;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#A1A1A1;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:823px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#A1A1A1;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:47px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:117px;
  width:13px;
  height:47px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:185px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:192px;
  width:13px;
  height:9px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:177px;
  width:334px;
  height:37px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:186px;
  width:199px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:303px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:303px;
  width:13px;
  height:22px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:304px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:15px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:339px;
  width:416px;
  height:15px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:364px;
  width:163px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#BCBCBC;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:175px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:610px;
  width:416px;
  height:175px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 133, 133, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:635px;
  width:373px;
  height:45px;
  font-size:20px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:369px;
  word-wrap:break-word;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:252px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:252px;
  width:13px;
  height:22px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:253px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:2px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:289px;
  width:409px;
  height:1px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
