body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:1329px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:43px;
  width:418px;
  height:1329px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:656px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:44px;
  width:416px;
  height:63px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#1E1E1E;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:50px;
  width:29px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#1E1E1E;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:62px;
  width:1px;
  height:35px;
  color:#1E1E1E;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:66px;
  width:73px;
  height:26px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:552px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:169px;
  width:416px;
  height:552px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:268px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:298px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:107px;
  width:416px;
  height:298px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:141px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:423px;
  width:59px;
  height:19px;
  font-size:16px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:442px;
  width:55px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:517px;
  width:46px;
  height:46px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:515px;
  width:59px;
  height:17px;
  font-size:15px;
  color:#999999;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:753px;
  width:25px;
  height:16px;
  color:#999999;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:753px;
  width:14px;
  height:14px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:754px;
  width:19px;
  height:16px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:753px;
  width:9px;
  height:16px;
  color:#999999;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:569px;
  width:177px;
  height:19px;
  font-size:16px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#8894B1;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:731px;
  width:108px;
  height:15px;
  font-size:12px;
  color:#8894B1;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:2px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:790px;
  width:416px;
  height:1px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:63px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:606px;
  width:66px;
  height:63px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:63px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:606px;
  width:73px;
  height:63px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:63px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:606px;
  width:73px;
  height:63px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:27px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:693px;
  width:233px;
  height:27px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:696px;
  width:22px;
  height:21px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:699px;
  width:118px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:38px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:436px;
  width:221px;
  height:38px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:440px;
  width:32px;
  height:30px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:22px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:444px;
  width:134px;
  height:22px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:703px;
  width:6px;
  height:9px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:819px;
  width:46px;
  height:46px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#999999;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:817px;
  width:59px;
  height:17px;
  font-size:15px;
  color:#999999;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:1055px;
  width:25px;
  height:16px;
  color:#999999;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:1055px;
  width:14px;
  height:14px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:1056px;
  width:19px;
  height:16px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:1055px;
  width:17px;
  height:16px;
  color:#999999;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:871px;
  width:177px;
  height:19px;
  font-size:16px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#8894B1;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1033px;
  width:108px;
  height:15px;
  font-size:12px;
  color:#8894B1;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:2px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:1259px;
  width:416px;
  height:1px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:63px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:908px;
  width:66px;
  height:63px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:63px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:908px;
  width:73px;
  height:63px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:63px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:908px;
  width:73px;
  height:63px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:27px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:995px;
  width:233px;
  height:27px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:998px;
  width:22px;
  height:21px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:1001px;
  width:118px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:9px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:1005px;
  width:6px;
  height:9px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:164px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1080px;
  width:330px;
  height:164px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#66CC99;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:1091px;
  width:76px;
  height:17px;
  font-size:15px;
  color:#66CC99;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1091px;
  width:106px;
  height:17px;
  font-size:15px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:1210px;
  width:103px;
  height:23px;
  font-size:16px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  white-space:nowrap;
}
#u886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1119px;
  width:226px;
  height:34px;
  font-size:15px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#66CC99;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:1119px;
  width:76px;
  height:17px;
  font-size:15px;
  color:#66CC99;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#66CC99;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:1166px;
  width:76px;
  height:17px;
  font-size:15px;
  color:#66CC99;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:1165px;
  width:226px;
  height:34px;
  font-size:15px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:1281px;
  width:59px;
  height:19px;
  font-size:16px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:1300px;
  width:55px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8894B1;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:1033px;
  width:65px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#8894B1;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
