body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1671px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:67px;
  width:473px;
  height:954px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:740px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:174px;
  width:418px;
  height:740px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:66px;
  background:inherit;
  background-color:rgba(59, 89, 152, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:172px;
  width:417px;
  height:66px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:181px;
  width:29px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:193px;
  width:1px;
  height:35px;
  color:#FFFFFF;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:197px;
  width:121px;
  height:26px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:141px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:314px;
  width:101px;
  height:141px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:17px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:318px;
  width:154px;
  height:17px;
  font-size:15px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:2px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:486px;
  width:416px;
  height:1px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:338px;
  width:40px;
  height:16px;
  color:#999999;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#8894B1;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:465px;
  width:109px;
  height:15px;
  font-size:12px;
  color:#8894B1;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#8894B1;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:465px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#8894B1;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:361px;
  width:101px;
  height:53px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:361px;
  width:101px;
  height:24px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:377px;
  width:101px;
  height:13px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:368px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:394px;
  width:23px;
  height:16px;
  font-size:14px;
  color:#FF6666;
  text-align:center;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:141px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:502px;
  width:101px;
  height:141px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:17px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:506px;
  width:154px;
  height:17px;
  font-size:15px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:2px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:674px;
  width:416px;
  height:1px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:526px;
  width:40px;
  height:16px;
  color:#999999;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#8894B1;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:653px;
  width:109px;
  height:15px;
  font-size:12px;
  color:#8894B1;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#8894B1;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:653px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#8894B1;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:556px;
  width:101px;
  height:53px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:556px;
  width:101px;
  height:24px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:572px;
  width:101px;
  height:13px;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:563px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:589px;
  width:65px;
  height:16px;
  font-size:14px;
  color:#FF6666;
  text-align:center;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:468px;
  width:8px;
  height:10px;
  color:#FFFFFF;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#8894B1;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:465px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#8894B1;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:656px;
  width:8px;
  height:10px;
  color:#FFFFFF;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#8894B1;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:653px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#8894B1;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:613px;
  width:57px;
  height:30px;
  color:rgba(0, 0, 0, 0.298039215686275);
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:27px;
  white-space:nowrap;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:425px;
  width:56px;
  height:30px;
  color:#FFFFFF;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:62px;
  background:inherit;
  background-color:rgba(59, 89, 152, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:238px;
  width:416px;
  height:62px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:41px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.427450980392157);
  border:none;
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:247px;
  width:338px;
  height:41px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:256px;
  width:25px;
  height:25px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.898039215686275);
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:257px;
  width:263px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:rgba(255, 255, 255, 0.898039215686275);
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:251px;
  width:34px;
  height:34px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:246px;
  width:10px;
  height:10px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:954px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:67px;
  width:473px;
  height:954px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:469px;
  width:469px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:740px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:174px;
  width:418px;
  height:740px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:362px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:66px;
  background:inherit;
  background-color:rgba(59, 89, 152, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:172px;
  width:417px;
  height:66px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:181px;
  width:29px;
  height:57px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:36px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:918px;
  top:193px;
  width:1px;
  height:35px;
  color:#FFFFFF;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:197px;
  width:97px;
  height:26px;
  font-family:'幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:15px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:524px;
  width:416px;
  height:15px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:361px;
  width:225px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:29px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:485px;
  width:21px;
  height:29px;
  color:#FFFFFF;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:491px;
  width:9px;
  height:9px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:491px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
  color:rgba(102, 102, 102, 0.898039215686275);
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:555px;
  width:95px;
  height:95px;
  font-size:72px;
  color:rgba(102, 102, 102, 0.898039215686275);
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:91px;
  word-wrap:break-word;
}
#u1235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:240px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:673px;
  width:416px;
  height:240px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:47px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:774px;
  width:355px;
  height:47px;
  font-size:18px;
  color:#FFFFFF;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:351px;
  word-wrap:break-word;
}
#u1239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:14px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:336px;
  width:416px;
  height:14px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:2px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:286px;
  width:416px;
  height:1px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:253px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:248px;
  width:280px;
  height:30px;
}
#u1245_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:301px;
  width:85px;
  height:19px;
  font-size:16px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:296px;
  width:280px;
  height:30px;
}
#u1248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:172px;
  width:300px;
  height:170px;
  font-size:16px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  word-wrap:break-word;
}
