body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1635px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1635px;
  height:1082px;
  background:inherit;
  background-color:rgba(51, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1635px;
  height:1082px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:533px;
  width:1631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:29px;
  width:109px;
  height:40px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:410;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1635px;
  height:973px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:109px;
  width:1635px;
  height:973px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:478px;
  width:1631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:544px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:62px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:659px;
  width:357px;
  height:62px;
  font-size:28px;
  color:#FFFFFF;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:353px;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:2px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:582px;
  width:486px;
  height:1px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#339999;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:538px;
  width:173px;
  height:37px;
  font-size:28px;
  color:#339999;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:169px;
  white-space:nowrap;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:2px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:513px;
  width:486px;
  height:1px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:474px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:2px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:439px;
  width:486px;
  height:1px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:399px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:244px;
  width:655px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  white-space:nowrap;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:61px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:301px;
  width:532px;
  height:61px;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  word-wrap:break-word;
}
